.login {
  margin: 10% 50%;
}

.header {
  margin: 2%;
}

.header span {
  margin: 0 10px;
}

.expenses {
  margin: 2%;
}

.expenses label {
  margin: 5px 10px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

